@import "tailwindcss";

:root {
  --bg: #132738;
  --text-hl: #b7f9b2;
  --font-mono: "JetBrains Mono", "CaskaydiaMono Nerd Font", "CaskaydiaMono NF";
  --font-sans: Roboto, system-ui;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@page {
  size: 2560x1440px;
}

html {
  -webkit-print-color-adjust: exact;
}

pre code,
dl {
  font-family: var(--font-mono);
}

table {
  font-family: var(--font-mono);
  line-height: 1.75;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  font-family: Roboto;
  background: var(--bg);
  color: #fff;
  font-family: var(--font-sans);
}

h2 {
  color: var(--text-hl);
  margin-top: 0;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

p {
  font-size: 2.75rem;
  /* line-height: 1.5; */

  &:has(strong) {
    color: rgba(255, 255, 255, 0.87);
  }

  strong {
    color: white;
  }
}

pre {
  font-size: 2.25rem;
  margin-bottom: 0;
  text-align: left;
}

section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.transition {
  margin: 1em;
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 1rem;

  > code {
    font-size: 25px;
  }
}

:not(pre) > code {
  font-family: var(--font-mono);
  background: oklch(0.372 0.044 257.287);
  display: inline-block;
  padding-inline: 0.125em;
  line-height: 1.25;
  border-radius: 2px;
}

.hljs-comment {
  @apply text-gray-400!;
}
